*{
    margin: 0;
    padding: 0;
}
.container-head{
    margin-top: 20px;
}
.col-left-head{
    height: 50px;
    background-color:floralwhite;
    text-align: center;
}
.col-right-head{
    text-align: center;
    height: 50px;
    background-color:gray;
}
.col-map{
    height: 400px;
}